<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-label class="heading">Let's get started!</ion-label>
    <ion-label class="center txt">Create an acccount to TenderApp to get all features</ion-label>
  </section>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-icon color="primary" name="person"></ion-icon>
              <ion-input name="name" color="primary" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon color="primary" name="mail"></ion-icon>
              <ion-input name="email" color="primary" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon color="primary" name="call"></ion-icon>
              <ion-input name="phone" color="primary" type="number" placeholder="Contact No" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon color="primary" name="lock-closed"></ion-icon>
              <ion-input name="password" color="primary" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon color="primary" name="lock-closed"></ion-icon>
              <ion-input name="confirm" color="primary" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <ion-grid>
            <ion-row class="center ion-align-self-center">
              <ion-button size="large" color="primary" type="submit" shape="round" [disabled]="form.invalid" expand="block">Register</ion-button>
            </ion-row>
          </ion-grid>
          <div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-label class="center txt color">Already have an account?<a routerLink="/login"> Login here</a> </ion-label>
</ion-content>