<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button size="large" color="primary" type="submit" (click)="pay()" shape="round" expand="block">Launch Payment</ion-button>
   
  <section>
    <ion-label class="heading">Dashboard </ion-label>
  </section>

    <ion-list>
      <ion-item *ngFor="let item of tenderList">
        <ion-label >{{item}}</ion-label>
        <ion-toggle slot="end" name="{{item}}"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row class="center ion-align-self-center">
        <ion-button size="large" color="primary" type="submit" shape="round" expand="block">Save Prefrences</ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
